/* 
May not be the best way to do some things. 
Still relatively inexperienced with making scalable styles. 
*/

.webgl_container {
	background-color: black;
	width: 800px;
	height: 500px;
    margin: auto auto;
    display: block;
    padding: 10px;
}

.canvas {

}